@import 'tailwindcss';

@theme {
  --font-sans: 'MS Reference Sans Serif', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --font-ps-sans-nouveaux: 'PX Sans Nouveaux', sans-serif;
  --font-perfect-dos-vga: 'Perfect DOS VGA 437', sans-serif;
  --font-perfect-dos-vga-win: 'Perfect DOS VGA 437 Win', sans-serif;
  --font-ms-reference: 'MS Reference Sans Serif', sans-serif;
  --font-micro: 'Micro 5', sans-serif;

  --color-primary: #008080;
  --color-secondary: #c3c3c3;
  --color-tertiary: #fdffff;
  --color-quaternary: #818181;
  --color-accent: #010081;
  --color-accent-light: #0000ff;
  --color-accent-dark: #800080;

  --shadow-windows-inset: inset 1px 1px 3px #818181;

  --background-image-dots: radial-gradient(#0000ffcc 1px, transparent 1px),
    radial-gradient(#0000ffcc 1px, #ffffff 1px);

  --transition-property-max-height: max-height;

  --animate-blink: blink 0.333s infinite;

  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility border-windows {
  @apply border-2 border-b-black border-l-tertiary border-r-black border-t-tertiary;
}

@utility border-windows-inverted {
  @apply border-2 border-b-tertiary border-l-black border-r-tertiary border-t-black;
}

@utility btn-windows {
  @apply border-windows bg-secondary;
}

@utility btn-windows-inverted {
  @apply border-windows-inverted bg-gray-200;
}

@utility no-scrollbar {

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@utility writing-v-lr {
  writing-mode: vertical-lr;
  text-orientation: sideways;
}

@utility card-shadow {
  @apply transition-shadow delay-75 duration-300 ease-in-out;
  @apply transition-transform delay-75 duration-300 ease-in-out hover:-translate-x-1 hover:-translate-y-1;
  box-shadow: 4px 4px 0 #000;

  &:hover {
    box-shadow: 6px 6px 0 #000;
  }
}